@import url(./fonts.css);
@import url(./reset.css);

html,
body {
  margin: 0;
  padding: 0;
}

body {
 background-color: #D2C0D4;
 font-family: 'Fugue';
 text-transform: uppercase;
 overflow: hidden;
 width: 100%;
 height: 100%;
}

a {
  text-decoration: none;
}

p,
a,
h1,
h2 {
  color: #3300FF;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 2.4vw;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
}

nav {
  height: 8vh;
}

.nav__links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.nav__links__item {
  margin-right: 3vw;
}

.main {
  margin: 2vw;
}

.text__down {
  position: absolute;
  bottom: 2vw;
  width: 96%;
  display: flex;
  justify-content: space-between;
}








.menu__open {
  visibility: hidden;
}


@media (max-width: 425px) {
  a {
    color: white;
  }

  .header{
    display: none;
  }

  .nav {
    height: 10vh;
  }

  .menu__open,
  .menu__close {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%,-50%);
    z-index: 2;
  }

  .menu__open {
    visibility: visible;
  }

  .menu__close {
    visibility:hidden;
  }

  .menu__line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .menu__close .menu__line:first-of-type,
  .menu__close .menu__line:last-of-type {
    width: 30px;
    height: 3px;
    background: white;
    margin: 0;
    transform: rotate(45deg);
  }

  .menu__close .menu__line:first-of-type {
    transform: rotate(45deg);
  }

  .menu__close .menu__line:last-of-type {
    transform: rotate(-45deg);
  }

  .nav__links {
    list-style: none;
    position: fixed;
    background: #3300FF;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    font-size: 8vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    visibility: hidden;
  }

  .nav__links__item {
    margin-bottom: 30px;
  }




}


